.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.36);
}

.modalContent {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
  border-radius: 8px;
}

.close {
  color: #427496;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(183, 41, 41);
  text-decoration: none;
  cursor: pointer;
}
