.page {
  height: 100vh;
  padding: 20px;
  background: url('../../public/background-tile.svg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0px;
  flex-grow: 1;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
