.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 20%;
  border: none;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.421);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 1em;
}

.icon {
  font-size: 25px;
  color: #63f5ce;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
