.step {
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  width: 510px;
}
.refresh_container {
  display: flex;
  align-items: center;
  padding: 8px;
}
